table{
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    font-size: xx-large;
    color: white;
}
body{
    background-image: url(https://images2.alphacoders.com/105/105962.jpg);
}
h1{
    color: white;
}
input{
    background-color: transparent;
    color: white;
    border-color: white;
}