@media (min-width: 640px)
{
    body
    {
        background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=2&fit=crop&fm=jpg&h=960&ixlib=rb-0.3.5&q=50&w=1440);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }


.navbar {
    /*margin-bottom: 0;*/
    border-radius: 3em;
    font-family: 'Indie Flower', cursive;
}

}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: burlywood;
    background-color: #588e60;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #588E60}

.button:active {
    background-color: #588E60;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 2px;
}
.animated
{
    animation-delay: 5s;
}
h1
{
    color: black;
    background-color: #508e5a;
    border-radius: 1em;

}
h3
{
    color: black;
    background-color: white;
    border-radius: 1em;
    font-family: 'Courgette', cursive;

}
p
{
    color: black;
    background-color: gray;
    border-radius: 1em;
    font-family: 'Courgette', cursive;

}
h4
{
    color: black;
    background-color: white;
    border-radius: 1em;
    font-family: 'Courgette', cursive;

}