h1
{
    color: white;
    text-align: center;
    font-family: Karumbi;
    font-size: 8em;
}
h4
{
    text-align: center;
    font-family: "Lohit Assamese";
    font-size: 3em;
}

{
    color: white;
    text-align: center;
    font-family: "Lohit Kannada";
    font-size: 2em;
}
body
{
    background-color: #518e8d;

}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: burlywood;
    background-color: #588e60;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #588E60}

.button:active {
    background-color: #588E60;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 2px;
}
.animated
{
}