/* Use borders to draw a box */

h1
{
    color: #518e8d;

    font-family: 'Courgette', cursive;

}
table {
    margin: auto;

}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 65px;
    font-family: 'Courgette', cursive;
    color: white;
}

td:hover {
    border: 1px solid grey;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #518e8d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 2px #999;
    font-family: 'Courgette', cursive;

}

.button:hover {background-color: #1b8e75
}

.button:active {
    background-color: #588E60;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 2px;
}
#idStartButton
{
    background-color: #518e8d;
    font-family: 'Courgette', cursive;

}
body
{
    background-color: #518e8d;

}